$page-background: #ffffff;
$nav-text-color: #000000;
$banner-primary-color: #ffffff;
$banner-second-color: #070508;
$section-title-primary-color: #333333;
$section-title-second-color: #7d7d7d;
$section-primary-text-color: #000000;
$section-second-text-color: #ffffff;
$orange-color: #f79900;
$button-color: #f79900;
$button-text-color: #ffffff;
$footer-primary-text-color: #ffffff;

$transition-function: cubic-bezier(0.4, 0, 0.2, 1);
