.do {
  margin-top: 90px;

  &__list {
    display: flex;
  }
}

.do__item {
  width: 299px;
  padding: 55px 39px 48px 39px;

  background-color: #333333;

  &:nth-child(2n) {
    background-color: $orange-color;
  }

  &-title {
    display: flex;
    align-items: center;

    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 1.3;

    color: $section-second-text-color;
  }

  &-descr {
    padding-bottom: 15px;
    margin-top: 19px;
    margin-bottom: 0;
    border-bottom: 1px solid $section-second-text-color;

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.6;

    color: $section-second-text-color;
  }

  &-link {
    margin-top: 20px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.3;

    text-decoration-line: underline;
    text-decoration-color: grey;

    color: $section-second-text-color;
  }
}
